@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 120rem;
  height: 80rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  font-size: 2rem;
  font-weight: 600;
  font-family: Cambria;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;

  /*  box-shadow: -20px -20px 60px #f5d9d9, 20px 20px 60px #5fd4ce;*/
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s;
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.05),
    -9px -9px 9px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.03),
    inset -2px -2px 3px rgba(255, 255, 255, 0.4);
}
.btn--new:hover {
  box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.05),
    inset -6px -6px 6px rgba(255, 255, 255, 0.5);
}

.btn--roll {
  font-size: 2rem;
  top: 38rem;
  font-weight: 600;
  font-family: Cambria;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;

  /*  box-shadow: -20px -20px 60px #f5d9d9, 20px 20px 60px #5fd4ce;*/
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s;
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.05),
    -9px -9px 9px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.03),
    inset -2px -2px 3px rgba(255, 255, 255, 0.4);
}
.btn--roll:hover {
  box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.05),
    inset -6px -6px 6px rgba(255, 255, 255, 0.5);
}

.btn--hold {
  font-size: 2rem;
  top: 50rem;
  font-weight: 600;
  font-family: Cambria;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;

  /*  box-shadow: -20px -20px 60px #f5d9d9, 20px 20px 60px #5fd4ce;*/
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s;
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.05),
    -9px -9px 9px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.03),
    inset -2px -2px 3px rgba(255, 255, 255, 0.4);
}
.btn--hold:hover {
  box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.05),
    inset -6px -6px 6px rgba(255, 255, 255, 0.5);
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}
/* .scene {
  width: 200px;
  height: 200px;
  margin: 20rem;
  perspective: 600px;
} */

.cube {
  position: absolute;
  left: 50%;
  top: 17.5rem;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  height: 10rem;
  width: 10rem;
  left: 55rem;
  /* box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); */
  transition: transform 1s;
}

/* //styling for 3D Cube transforms / animations on face select (on roll) */
.cube.show-1 {
  transform: translateZ(-100px) rotateY(0deg);
}
.cube.show-2 {
  transform: translateZ(-100px) rotateY(-180deg);
}
.cube.show-3 {
  transform: translateZ(-100px) rotateY(-90deg);
}
.cube.show-4 {
  transform: translateZ(-100px) rotateY(90deg);
}
.cube.show-5 {
  transform: translateZ(-100px) rotateX(-90deg);
}
.cube.show-6 {
  transform: translateZ(-100px) rotateX(90deg);
}

/* //universal style for cube faces */
.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 4px solid white;
  line-height: 200px;
  font-size: 4rem;
  font-weight: bold;
  color: red;
  text-align: center;
}

/* //individual styling for each numbers face */
.cube__face--1 {
  background: black;
  opacity: 0.75;
}
.cube__face--3 {
  background: black;
  opacity: 0.75;
}
.cube__face--2 {
  background: black;
  opacity: 0.75;
}
.cube__face--4 {
  background: black;
  opacity: 0.75;
}
.cube__face--5 {
  background: black;
  opacity: 0.75;
}
.cube__face--6 {
  background: black;
  opacity: 0.75;
}

.cube__face--1 {
  transform: rotateY(0deg) translateZ(100px);
}
.cube__face--2 {
  transform: rotateY(180deg) translateZ(100px);
}
.cube__face--3 {
  transform: rotateY(90deg) translateZ(100px);
}
.cube__face--4 {
  transform: rotateY(-90deg) translateZ(100px);
}
.cube__face--5 {
  transform: rotateX(90deg) translateZ(100px);
}
.cube__face--6 {
  transform: rotateX(-90deg) translateZ(100px);
}

.player--winner {
  background-image: linear-gradient(to top left, #24d81ef5 0%, #f7e815 100%);
}

.player--winner .name {
  font-weight: 700;
  color: #000000;
}
.message {
  right: 3rem;
}
.hidden {
  display: none;
}
